%div.col-lg-12.row
  %div.container
    %h1.white Latest Paycoin Blocks
    %hr

%div.col-lg-12
  %div.col-lg-2.clearfix
    = javascript_include_tag "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", :async => true
    %ins{:class=>"adsbygoogle", :style=>"display:block",
      'data-ad-client'=>"ca-pub-3918557346386109",
      'data-ad-slot'=>"4748001338",
      'data-ad-format'=>"auto"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});

  %div.col-lg-8
    %div.panel
      %table.table
        %thead
          %tr
            %th Block Height
            %th Hash
            %th Transactions
            %th Total Output
            %th Time

        %tbody
          - @blocks.each do |block|
            %tr
              %td= link_to block.height.to_s, 'blocks/' << block.height.to_s
              %td
                = block.blockHash.to_s
              %td
                = (block.transactions.length).to_s
              %td
                = totalOut(block)
              %td
                - t = ActiveSupport::TimeZone["UTC"].parse(block.blockTime.to_s[0..18])
                = time_ago_in_words(local_time(t))

  %div.col-lg-2.clearfix
    = javascript_include_tag "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", :async => true
    %ins{:class=>"adsbygoogle", :style=>"display:block",
      'data-ad-client'=>"ca-pub-3918557346386109",
      'data-ad-slot'=>"4748001338",
      'data-ad-format'=>"auto"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
