- content_for :title do
  PBE Block - #{@block.height.to_s}
%div.container.info
  %h1.white Block
  %hr
  %span.breadcrumb= link_to 'Home', root_path
  %span /
  %span.breadcrumb Block: #{@block.height.to_s}
  %br

  %div.row{:style => "margin-top: 50px;"}
    %div.col-lg-12
      %div.panel.clearfix
        %div.panel-body{:style => "padding-left: 35px; padding-right: 35px;"}
          %h1 Block Info
          %hr
          %div.dl-horizontal
            %div
              %dt Height
              %dd
                - if (@block.height - 1 != 0)
                  = link_to image_tag("prev-arrow-2.png", height: '13'), (@block.height - 1).to_s
                #{@block.height.to_s}
                - if (@block.height != maxBlocks - 1)
                  = link_to image_tag("next-arrow-2.png", height: '13'), (@block.height + 1).to_s
            %div
              %dt Block Hash
              %dd #{@block.blockHash}
            %div
              %dt Block Time
              %dd
                - t = ActiveSupport::TimeZone["UTC"].parse(@block.blockTime.to_s[0..18])
                = t.to_s
            %div
              %dt Total Output
              %dd
                = totalOut(@block)
                XPY
            %div
              %dt Number of Txs
              %dd #{@block.transactions.length.to_s}
            %div
              %dt Difficulty
              %dd #{@block.difficulty.round(8)}
            %div
              %dt Mint
              %dd #{@block.mint.round(6)}
            %div
              %dt Confirmations
              %dd
                = confirmations(@block)
            %div
              %dt Merkle root
              %dd #{@block.merkleRoot}
            %div
              %dt Previous block hash
              %dd
                - if (@block.height - 1 != 0)
                  = link_to @block.previousBlockHash, (@block.height - 1).to_s
                - else
                  #{''}
            %div
              %dt Next block hash
              %dd
                - if (@block.nextBlockHash != nil)
                  = link_to @block.nextBlockHash, (@block.height + 1).to_s
                - else
                  #{''}
            %div
              %dt Size
              %dd #{(@block.blockSize.round(4) / 1000)} KB

            %div
              %dt Flags
              %dd #{@block.flags}

  %div.wide-position
    %div.col-lg-12
      %div
        %h1.white Transactions
        %hr
        - @block.transactions.each do |tx|
          %div.panel
            %div.panel-body.clearfix
              %div.block-info-tx.col-sm-12.clearfix{:style => "padding-left: 15px; padding-bottom: 10px;"}
                - if tx.coinbase == true
                  %span.coinbase
                    Coinbase
                  %span
                    =link_to tx.txid, '/tx/' << tx.txid
                - elsif tx.coinstake == true
                  %span.coinstake
                    Coinstake
                  %span
                    =link_to tx.txid, '/tx/' << tx.txid
                - else
                  =link_to tx.txid, '/tx/' << tx.txid
              %div.block-info-content
                %div.addresses.clearfix
                  - if tx.type == 'PoW-Reward' || tx.type == 'PoS-Reward'
                    - puts tx.type
                    %div.col-xs-6
                      %span.fresh-coins
                        - if tx.coinstake == true
                          Coinstake Transaction
                        - else
                          Newly Generated Coins
                    %div.col-xs-6.from
                      -tx.outputs.each do |output|
                        %span
                          %div
                            - if output.address == '' && tx.coinbase == true
                              %div.col-xs-9.text-left
                                NONSTANDARD
                              %div.col-xs-3.text-right.spent
                                0.0
                            - elsif output.address == '' && tx.coinbase == false

                            - else
                              %div.col-xs-9.text-left
                                #{output.address}
                              %div.col-xs-3.text-right.spent
                                #{'%.6f' % output.value}

                  - else
                    %div.col-xs-6.block-info-content.to
                      -tx.inputs.each do |input|
                        %span
                          %div.col-xs-9
                            #{getInputAddress(input)}
                          %div.col-xs-3.text-right.spent
                            - if input.value != nil
                              #{'%.6f' % (input.value * -1)}
                            - else
                              #{'%.6f' % input.value}
                    %div.col-xs-6.block-info-content.from
                      -tx.outputs.each do |output|
                        %span
                          %div.col-xs-9
                            #{output.address}
                          %div.col-xs-3.text-right.spent
                            #{'%.6f' % output.value}
              %div.info.sum.clearfix
                %div.col-sm-12
                  %div.col-lg-9.text-right
                    %div
                      Fee:
                    %div
                      Transaction sum:
                  %div.col-lg-3.text-left
                    - if tx.type == 'PoW-Reward' || tx.type == 'PoS-Reward'
                      %div.fee
                        0.000000 XPY
                    - else
                      %div.fee
                        #{'%.6f' % tx.fees.round(6)} XPY
                    %div
                      - if tx.type == 'PoW-Reward' || tx.type == 'PoS-Reward'
                        #{'%.6f' % tx.fees.round(6)} XPY
                      - else
                        #{'%.6f' % tx.totalOutput} XPY
