%div.col-lg-12.row
  %div.container.info
    %div.section-info.clearfix
      %h1.white Richest Addresses <sup> (Top 25 Addresses) </sup>
      %ul.breadcrumb
        %li= link_to 'Home', root_path, {:style=>"color: #428bcb;"}
        %li Rich List

%div.col-lg-12
  = form_tag(richlist_path, :method => 'get', :enforce_utf8 => false) do
    %div.col-sm-9.clearfix
    %div.col-sm-2.clearfix
      %div.input-group
        = select_tag :limit, options_for_select([25, 100, 1000], 25), {:class => 'form-control'}
        %span.input-group-btn
          = submit_tag 'OK', {:class => 'btn btn-default', :name => nil}
    %div.col-sm-1.clearfix

%div.col-lg-12{:style => "margin-top: 5px;"}
  %div.col-lg-1.clearfix

  %div.col-lg-10
    %div.panel

      %table.table
        %thead
          %tr
            %th Rank
            %th Address
            %th Balance
            %th Percentage of Total Coins

        %tbody
          - @rich_lists.each_with_index do |rich_list, position|
            %tr
              %td #{(position + 1).to_s}
              %td #{rich_list.address}
              %td
                = "%.6f XPY" % rich_list.balance.round(6)
              %td
                = "%.2f%" % ((rich_list.balance.round(6) / @outstanding[0].coinSupply) * 100)

  %div.col-lg-1.clearfix
