!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Paycoin Block Explorer
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar{:style => "background: none; background-color: #164A55;"}
      .navbar-brand
        = link_to image_tag("logo.png", height: '85'), "/"
    = yield
