!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      - if content_for?(:title)
        = content_for(:title)
      - else
        Paycoin Block Explorer
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top{:style => "background: none; background-color: #119EC1;"}
      .container
        .navbar-header{:style => "width: 35%;"}
          .navbar-brand
            = link_to image_tag("logo.png", height: '85'), "/"
        .navbar-collapse.collapse{:style => "float: right; width: 65%;"}
          %ul.nav.navbar-nav{:style => "float: left; width: 50%"}
            %li.navbar-btn{:style => "height: 80px; width: 100px;"}
            %li.navbar-btn{:style => "height: 80px; width: 100px;"}
          %ul.nav.navbar-nav{:style => "float: right; width: 50%"}
            %li.navbar-btn{:style => "height: 80px; width: 100%;"}
              = form_tag(searches_index_path, :method => "get") do
                = text_field_tag :search, params[:search]

    = yield
